@use "../abstracts/variables" as v;

.category-section {
  margin-bottom: 24px;

  &__title {
    font-size: 18px;
    font-weight: 700;
    color: v.$text-color;
    margin-bottom: 12px;
    padding-left: 4px;
    text-transform: capitalize;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}