@use "../abstracts/variables" as v;

.product-card {
  display: flex;
  align-items: center;
  background-color: v.$white-color;
  padding: 6px 12px;
  border-radius: 8px;
  margin-bottom: 2px;
  box-shadow: none;
  border-bottom: 1px solid #f0f0f0; 

  &__info {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__name {
    font-size: 15px;
    font-weight: 500;
    color: v.$text-color;
  }

  &__price {
    font-size: 14px;
    font-weight: 600;
    color: v.$primary-color;
    margin-left: auto;
    padding-right: 8px;
  }

  &__menu-btn {
    background: none;
    border: none;
    font-size: 18px;
    color: #b0b0b0;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:active {
      color: v.$primary-color;
    }
  }
}